body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color: #424242;
    line-height: 1.5;
  }
#gallery {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.item-img {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
}
.item-img:first-child {
  margin-left: 0;
}
.img {
  width: 400px;
  height: 300px;
}